@model Quiz.Models.QuizResultModel
@{
    ViewBag.Title = "Details";

}

<div class="modal-content">
    <div class="modal-header">
        <h4>Quiz Info</h4>
    </div>
    <div class="modal-body openUserDetails">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quiz_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quiz_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AssignedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Assigned_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Assigned_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuizResult_Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.QuizResult_Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Completed_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Completed_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Completed_Rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Completed_Rate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to my quizes", "Index", "Myquizes", null, null)
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}