<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simple Quiz App</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/breadcrumbs.css")
    @Scripts.Render("~/bundles/modernizr")

    @{ if (User.IsInRole("Student"))
        {
            @Styles.Render("~/Content/task2.css")
            @Styles.Render("~/Content/modal.css")
        }
        else
        {
            @Styles.Render("~/Content/task2cyan.css")
            @Styles.Render("~/Content/modalcyan.css")
        }
    }

</head>
<body>
    <header>
        <h3>Welcome to Simple Quiz App!</h3>

        @if (User.Identity.IsAuthenticated)
        {
            @Html.Label("Welcome, " + User.Identity.Name + "!");
        }

        <ul class="breadcrumbs" id="breads">
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Logon","Logon","Logon",null,null)
                </li>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Register", "Register", "Logon", null, null)

                </li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li>
                    @Html.ActionLink("Users", "Index", "User", null, null)
                </li>
            }
            @if (User.IsInRole("Instructor"))
            {
                <li>
                    @Html.ActionLink("Quizes", "Index", "Quiz", null, null)
                </li>
            }
            @if (User.IsInRole("Instructor") || User.IsInRole("Student"))
            {
                <li>
                    @Html.ActionLink("My Quizes", "Index", "Myquizes", null, null)
                </li>
            }
            @if (User.IsInRole("Instructor") || User.IsInRole("Student"))
            {
                <li>
                    @Html.ActionLink("Statistic", "Index", "Statistic", null, null)
                </li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Logoff", "Logoff", "Logon", null, null)
                </li>
            }
        </ul>
        <p />
    </header>
    <nav>
        <ul class="ulnav">
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Logon", "Logon", "Logon", null, null)
                </li>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Register", "Register", "Logon", null, null)

                </li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li>
                    @Html.ActionLink("Users", "Index", "User", null, null)
                </li>
            }
            @if (User.IsInRole("Instructor"))
            {
                <li>
                    @Html.ActionLink("Quizes", "Index", "Quiz", null, null)
                </li>
            }
            @if (User.IsInRole("Instructor") || User.IsInRole("Student"))
            {
                <li>
                    @Html.ActionLink("My Quizes", "Index", "Myquizes", null, null)
                </li>
            }
            @if (User.IsInRole("Instructor") || User.IsInRole("Student"))
            {
                <li>
                    @Html.ActionLink("Statistic", "Index", "Statistic", null, null)
                </li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Logoff", "Logoff", "Logon", null, null)
                </li>
            }
        </ul>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <div>
            © 2018 Epam Ext Lab
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryajax")

    @RenderSection("scripts", required: false)
</body>
</html>
