<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/task2.css")
    @Styles.Render("~/Content/breadcrumbs.css")
    @Styles.Render("~/Content/modal.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <ul class="breadcrumbs" id="breads">
            @if (!User.Identity.IsAuthenticated)
            {
                <li><a href="~/logon">Logon</a></li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li><a href="~/users">Users</a></li>
            }
            @if (User.IsInRole("Instructor"))
            {
                <li><a href="~/quizes">Quizes</a></li>
            }
            @if (User.IsInRole("Instructor") || User.IsInRole("Student"))
            {
                <li><a href="~/myquizes">My Quizes</a></li>
            }
            @if (User.IsInRole("Instructor") || User.IsInRole("Student"))
            {
                <li><a href="~/statistic">statistic</a></li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Label("Welcome, " + User.Identity.Name + "!");
            }

            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Logoff", "logoff", "logon")
            }
        </ul>
        <p />
    </header>
    <nav>
        <ul class="ulnav">
            <li><a href="signin.html">Sign in</a></li>
            <li><a href="~/users">Users</a></li>
            <li><a href="~/quizes">Quizes</a></li>
            <li><a href="~/myquizes">My Quizes</a></li>
            <li><a href="~/statistic">Statistic</a></li>
        </ul>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <div>
            © 2018 Epam Ext Lab
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryajax")

    @RenderSection("scripts", required: false)
</body>
</html>
