@model Quiz.Models.QuestionModel
<div class="modal-content">
    <div class="modal-header">
        <h4>Question details</h4>
    </div>
    <div class="modal-body openUserDetails">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Info)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Info)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CorrectOptionFlag)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CorrectOptionFlag)
                    </dd>

                </dl>


                for (int i = 0; i < (Model.Options != null ? Model.Options.Length : 0); i++)
                {
                    <div>
                        @if (Model.Options[i].Value == 1)
                        {<input type="checkbox" name="variant" checked disabled />
                        }
                        else
                        {
                            <input type="checkbox" name="variant" disabled />
                        }
                        <label for="@Model.Options[i].Value">
                            @Model.Options[i].Text
                        </label>
                    </div>
                }
                <hr />
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
