@model IEnumerable<DAL.Person.PersonRepository>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "PersonList";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Userlist</title>
</head>
<body>
    <div>
        <h2>PersonList</h2>

        <table>
            @foreach (var person in ViewBag.Persons)
            {
            <tr>
                <td><p>@person.ID</p></td>
                <td><p>@person.Username</p></td>
                <td><p>@person.FirstName</p></td>
                <td><p>@person.LastName</p></td>
                <td><p>@person.Role</p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
