@model Quiz.Models.VariantModel
<div class="modal-content">
    <div class="modal-header">
        <h4>Delete variant ?</h4>
    </div>
    <div class="modal-body openUserDetails">
        @{ if (!string.IsNullOrEmpty(ViewBag.Error) || Model == null )
            {
                <h3>Error: @ViewBag.Error</h3>
            }
            else
            {
                using (Html.BeginForm("Delete", "Variant", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Quiz_Id)
                    @Html.HiddenFor(model => model.Question_Id)
                    @Html.HiddenFor(model => model.Variant_Id)
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Variant_Text)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Variant_Text)
                                </dd>
                            </dl>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Delete" class="btnviewclose" />

                            </div>
                        </div>
                    </div>
                }
            }
        }
        <div>
            @Html.ActionLink("Back to List", "Index", "Variant", new { quiz_id = Model.Quiz_Id, question_id = Model.Question_Id}, null)
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


