@model IEnumerable<Quiz.Models.VariantModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <article>
        <h3>Variants list</h3>
                <div id="modDialog" class="modal fade">
                    <div id="dialogContent" class="modal-dialog"></div>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Variant_Text)
                        </th>
                        <th>Actions</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Variant_Text)
                            </td>
                            <td>
                                @Html.ActionLink("View", "Details", "Variant", new { quiz_id = item.Quiz_Id, question_id = item.Question_Id, variant_id = item.Variant_Id }, htmlAttributes: new { @class = "usermodalwindow" }) |
                                @Html.ActionLink("Edit", "Edit", "Variant", new { quiz_id = item.Quiz_Id, question_id = item.Question_Id, variant_id = item.Variant_Id }, new { @class = "usermodalwindow" }) |
                                @Html.ActionLink("Delete", "Delete", "Variant", new { quiz_id = item.Quiz_Id, question_id = item.Question_Id, variant_id = item.Variant_Id }, new { @class = "usermodalwindow" }) |
                                @Html.ActionLink("Create new", "Create", "Variant", new { quiz_id = item.Quiz_Id, question_id = item.Question_Id }, new { @class = "usermodalwindow" })

                            </td>
                        </tr>
                    }

                </table>
                <div>
                    @Html.ActionLink("Back to question list", "Index", "Question")
                </div>
            </article>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".usermodalwindow").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                jQuery('#dialogContent').html(data);
                jQuery('#modDialog').modal('show');
            });
        });
    })
    </script>
}

