@model IEnumerable<DAL.StatsByUserQuiz>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <article>
        @{ if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <h3>Error: @ViewBag.Error</h3>
            }
            else
            {

        <h4>Statistic for User and Quiz</h4>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Info)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                </tr>
            }
        </table>
    }
    }

        <div>
            @Html.ActionLink("Back to statistic page", "Index", "Statistic")
        </div>
    </article>
</section>
