@model Quiz.Models.StatisticModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <article>
        @using (Html.BeginForm("Index", "Statistic", FormMethod.Post))
        {
        { if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <h3>Error: @ViewBag.Error</h3>
            }
            else
            {
                <div>
                    <div>
                        <h4>Quiz Statistic</h4>
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(mode => Model.Quizes, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Selected_Quiz_Id, Model.Quizes, "Please Select ...", new { htmlAttributes = new { @class = "form-control" } })
                                </div>

                            </div>
                            @if (User.IsInRole("Instructor"))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(mode => Model.Users, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.Selected_User_Id, Model.Users, "Please Select ...", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            }

                        </div>
                        <div>
                            <p>
                                <input type="submit" value="Show detailed stats" />
                            </p>
                        </div>

                    </div>
                </div>
                }
        }
        }
                @if (User.IsInRole("Instructor"))
                    {
                        <p>
                        @Html.ActionLink("Show all quizes", "AllQuizes", "Statistic") | 
                        @Html.ActionLink("Show all users", "AllUsers", "Statistic") 
                        </p>
                    }
    </article>
</section>
