@model Quiz.Models.QuizModel

<div class="modal-content--">
    <div class="modal-body-- openUserDetails--">
        <section>
            <article>
                @{using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Author)
                            @Html.HiddenFor(model => model.Author_Id)
                            <div class="form-horizontal">
                                <h4>Edit Quiz</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Quiz_Id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Success_Rate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Success_Rate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Success_Rate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Questions, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <td>No</td>
                                            <td>Question</td>
                                        </tr>
                                    </thead>
                                    @if (Model != null && Model.Questions != null)
                                    {
                                        foreach (var question in Model.Questions)
                                        {
                                            <tr>
                                                <td>
                                                    @question.Info
                                                </td>
                                                <td>
                                                    @question.Text
                                                </td>
                                                <!--                              <td>
                                                                 @Html.ActionLink("View", "Details", "Question", new { id = question.Question_Id }, htmlAttributes: new { @class = "usermodalwindow" }) |
                                                                 @Html.ActionLink("Edit", "Edit", "Question", new { id = question.Question_Id }, htmlAttributes: new { @class = "usermodalwindow" }) |
                                                                 @Html.ActionLink("Delete", "Delete", "Question", new { id = question.Question_Id }, new { @class = "usermodalwindow" }) |
                                                                 @Html.ActionLink("Create", "Create", "Question", htmlAttributes: new { @class = "usermodalwindow" })
                                                             </td>
                                    -->
                                            </tr>
                                        }
                                    }
                                </table>
                                <p></p>
                                <div>
                                    @Html.ActionLink("Edit questions", "Index", "Question", new { quiz_id = Model.Quiz_Id }, htmlAttributes: new { @class = "" })
                                </div>
                                <div>
                                    @Html.ActionLink("Create question", "Create", "Question", new { quiz_id = Model.Quiz_Id }, htmlAttributes: new { @class = "usermodalwindow" })
                                </div>
                                <div>
                                    @Html.ActionLink("Back to quiz list", "Index")
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btnviewclose" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                <div>
                    @Html.ActionLink("Back to quiz list", "Index")
                </div>


            </article>
        </section>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

